<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout</title>
    <link rel="stylesheet" type="text/css" href="styls.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>CS:GO </h1>
        <span class="under">Een online first person shooter</span>

        <nav>
          <ul>
            <li><a href="layout.html">Home</a></li>
            <li><a href="mijnhobby.html"> over mijn hobby</a></li>
            <li><a href="Nieuws.html">Nieuws</a></li>
          </ul>
        </nav>
      </header>
      <h1>mijn hobby</h1>




      <div class="flex-container">

       <div class="flex-item">
        <img src="./pic/usp.jpg" alt="een CT met de usp-s">
        <h2>Het doel</h2>
        <p>als u op de leesmeer knop drukt komt u bij het doel van det spel</p>
        <a href="hetdoel.html">lees meer</a>
       </div>

       <div class="flex-item">
        <img src="./pic/ct.jpg" alt="de Counter-Terrorists met een ump en een famas">
        <h2>Maps</h2>
        <p>als u op de lees meer knop druk komt u bij de maps</p>
        <a href="maps.html">lees meer</a>
       </div>
       <div class="flex-item">
     <a href="https://skinsjar.com/"><img style="margin-left: 30%;" src="./reclame/skinjar.jpg" alt="Reclame"></a>
   </div>
      </div>

      <div class="flex-container">

      <div class="flex-item"></li>
       <img src="./pic/wildfire.jpg" alt="een oude operatie">
        <h2>Profs</h2>
        <p>als u op de lees meer knop druk komt u bij infomatie ofer de prosean</p>
        <a href="profs.html">lees meer</a>
      </div>

      <div class="flex-item"></li>
        <img src="./pic/case.png" alt="een case">
        <h2>Cases</h2>
        <p>als u op de lees meer knop druk komt u de cases</p>
        <a href="cases.html">lees meer</a>
      </div>

      <div class="flex-item">
           <a href="https://csgoloto.com"><img style="margin-left: 30%;" src="./reclame/loto.jpg" alt="Reclame"></a>
      </div>

       </div>
      <p>p</p>
   </div>

   <footer>&copy; Tom van den Berg 2017</footer>
  </body>
</html>
