<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nieuws</title>
    <link rel="stylesheet" type="text/css" href="styls.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>CS:GO </h1>
        <span class="under">Een online first person shooter</span>

        <nav>
          <ul>
            <li><a href="layout.html">Home</a></li>
            <li><a href="mijnhobby.html"> over mijn hobby</a></li>
            <li><a href="Nieuws.html">Nieuws</a></li>
          </ul>
        </nav>
      </header>
      <h1>Nieuws</h1>
      <h2>Doel</h2>

      <a href="hetdoel.html">lees meer</a>
      <h2>Maps</h2>
      <a href="maps.html">lees meer</a>
      <h2>Profs</h2>
      <a href="profs.html">lees meer</a>
      <h2>Cases</h2>
      <a href="cases.html">lees meer</a>
      <h2>Skins</h2>
      <a href="skins.html">lees meer</a>
      <h2>ranks</h2>
      <a href="ranks.html">lees meer</a>
    </div>
    <p>p</p>
    <footer>&copy; Tom van den Berg 2017</footer>
  </body>
</html>
