<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>over</title>
    <link rel="stylesheet" type="text/css" href="styls.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>CS:GO </h1>
        <span class="under">Een online first person shooter</span>

        <nav>
          <ul>
            <li><a href="layout.html">Home</a></li>
            <li><a href="over.html">Over</a></li>
            <li><a href="mijnhobby.html">mijn hobby</a></li>
            <li><a href="Nieuws.html">Nieuws</a></li>
          </ul>
        </nav>
      </header>

  </body>
</html>
